h2 { padding: 0.25em 0px 0.25em 25px;
     cursor: pointer;
     background: url(../images/plus.png) no-repeat left center;}
h2.minus {background: url(../images/minus.png) no-repeat left center;}
div {display:none;}
div.open {display:inline;}